:root {
   --primary-color: #7793a8;
   --secondary-color: #024e76;
   --tertiary-color: #102a44;
   --bg-color: #d2e7f6;
}

/* Remove some default browser-enfored styles, the * selector is the universal selector */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   color: var(--tertiary-color);
   font-family: Monaco, Helvetica, Arial, sans-serif;
   background-color: var(--bg-color);
}

/****************************************************/
/* START of SHARED styles */
.secondary-border {
   border-color: var(--tertiary-color);
}
/* END of SHARED styles */
/**~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~**/

/****************************************************/
/* START of HEADER styles */
header {
   background-image: url("../images/hero-bg.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   padding: 3px 100px 6px 0;
   background-color: var(--tertiary-color);
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 9999;
}

header h1 {
   font-weight: bold;
   font-size: 38px;
   color: var(--tertiary-color);
   background-color: var(--primary-color);
   padding: 5px 5px 5px 60px;
}

header a {
   text-decoration: none;
   color: var(--tertiary-color);
}

header nav ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-end;
   list-style: none;
}

header nav ul li a {
   padding: 1px 15px;
   font-weight: lighter;
   font-size: 1.55vw;
   color: var(--primary-color);
   justify-content: space-between;
}

.nav-title {
   color: var(--primary-color);
   border-bottom: 3px solid;
   text-align: center;
   width: 50%;
   border-color: var(--primary-color);
}

.header-nav-center {
   padding: 10px;
}

.empty-space {
   padding: 1px 4px;
}
/* END of HEADER styles */
/**~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~**/

/****************************************************/
/* START of HERO styles */
.hero {
   background-image: url("../images/hero_bg.jpg");
   width: 100%;
   height: 600px;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   text-align: right;   
}

.hero div {
   text-anchor: end;
}

.grid-wrapper {
   display: flex;
   width: 100%;
   justify-content: center;
   padding: 25px 70px;
}

.grid-container {
   width: 100%;
   display: grid;
   grid-template-columns: 2fr;
   grid-template-rows: 2fr;
}

.grid-item {
   padding: 10px 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 2rem;
   font-weight: bold;
   color: var(--tertiary-color);
   background-color: var(--primary-color);
   grid-column: 2 / span 1;
   grid-row: 2 / span 1;
}
/* END of HERO styles */
/**~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~**/

/****************************************************/
/* START of ABOUT ME styles */
.about-me {
   margin: 25px auto;
   width: 95%;
   display: flex;
   flex-direction: row;
   align-self: flex-start;
   height: 150%;
}

.about-me h3 {
   color: var(--secondary-color);
   font-size: 34px;
   width: 150px;
   text-align: right;
   padding: 10px;
   align-self: start;
}

.about-me p {
   width: 100%;
   align-items: left;
   padding: 10px;
   border-left: 3px solid var(--secondary-color);
   align-self: start;
   height: 100%;
}
/* END of ABOUT ME styles */
/**~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~**/

/****************************************************/
/* START of WORK styles */
.work {
   margin: 25px auto;
   width: 95%;
   display: flex;
   flex-direction: row;
   align-self: flex-start;
   height: 150%;
}

.work h3 {
   color: var(--secondary-color);
   font-size: 34px;
   width: 150px;
   text-align: right;
   padding: 10px;
   align-self: start;
}

.work-grid-wrapper {
   width: 100%;
   display: flex;
   align-items: left;
   padding: 10px;
   border-left: 3px solid var(--secondary-color);
   align-self: start;
   height: 100%;
}

.work-grid-container {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   color: var(--secondary-color);
   font-size: 1.2rem;
   column-gap: 10px;
   row-gap: 10px;
   grid-auto-flow: dense;
}

.work-grid-item {
   padding: 15px 0;
   border: 2px solid var(--primary-color);
   height: 150px;
}
.work-run-buddy-container {
   grid-column: 1 / span 2;
   grid-row: 1 / span 2;
   background-image: url("../images/work_run_buddy.jpg");
   background-size: cover;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   text-decoration: none;
}

.work-run-buddy-item {
   background-color: var(--primary-color);
   grid-column: 1 / span 1;
   grid-row: 3 / span 1;
   height: fit-content;
   width: fit-content;
   text-decoration: none;
   color: var(--tertiary-color);
   align-self: flex-end;
}

.work-run-buddy-container:hover {
   opacity: 0.5;
}

.work-run-buddy-item h4 {
   font-size: 18px;
   padding: 5px;
}
.work-run-buddy-item h5 {
   font-size: 12px;
   padding: 0 5px 5px 5px;
}
/* END of WORK styles */
/**~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~**/

/****************************************************/
/* START of CONTACT ME styles */
.contact-me {
   margin: 25px auto;
   width: 95%;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.contact-me h3 {
   color: var(--secondary-color);
   font-size: 34px;
   width: 150px;
   text-align: right;
   padding: 10px;
}

.contact-me-nav-center {
   width: 100%;
   justify-content: space-around;
   text-align: center;
   align-self: center;
   align-items: center;
}

.contact-me div nav {
   padding: 30px 30px 30px 0;
   border-left: 3px solid var(--secondary-color);

}

.contact-me-title {
   color: var(--tertiary-color);
   border-bottom: 3px solid;
   border-color: var(--tertiary-color);
   text-decoration: none;
}

.contact-me nav ul {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
}

.contact-me nav ul li a {
   font-weight: lighter;
   font-size: 1vw;
}

.contact-empty-space {
   padding: 1px 15px;
}
/* END of CONTACT ME styles */
/**~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~**/


/****************************************************/
/* START of MEDIA QUERIES styles */

/* Media Query for small desktop and screens and smaller */
@media screen and (max-width: 980px) {
   header {
      padding-bottom: 10px;
      justify-content: center;
      position: relative;
   }

   header h1 {
      width: 100%;
      text-align: center;
   }

   header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
   }

   header nav ul li a {
      font-size: 20px;
   }

   .contact-me {
      text-align: center;
   }

   .contact-me nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
      padding-top: 5px;
      }

   .contact-me nav ul li a {
      font-size: 20px;
   }

/* Media Query for tablets and smaller */
@media screen and (max-width: 768px) {
   header {
      padding-bottom: 10px;
      justify-content: center;
      position: relative;
   }

   header h1 {
      width: 100%;
      text-align: center;
   }

   header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
   }

   header nav ul li a {
      font-size: 20px;
   }

   .work-grid-wrapper {
      width: 100%;
      display: flex;
      align-items: left;
      padding: 10px;
      border-left: 3px solid var(--secondary-color);
      align-self: start;
      height: 100%;
   }
   
   .work-grid-container {
      width: 100%;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      color: var(--secondary-color);
      font-size: 1.2rem;
      column-gap: 10px;
   }
   
   .work-grid-item {
      padding: 15px 0;
      border: 2px solid var(--primary-color);
      display: flex;
   }

   .work-run-buddy-container {
      background-image: url("../images/work_run_buddy.jpg");
      background-size: cover;
      display: grid;
      grid-template-rows: repeat (3, 1fr);
      flex-direction: column;
   }
   
   .work-run-buddy-item {
      background-color: var(--primary-color);
      grid-row: 3 / span 1;
      height: fit-content;
      width: fit-content;
   }
   
   .work-run-buddy-item h4 {
      font-size: 18px;
      padding: 5px;
   }

   .work-run-buddy-item h5 {
      font-size: 12px;
      padding: 0 5px 5px 5px;
   }
   
   .contact-me {
      text-align: center;
   }

   .contact-me nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
      padding-top: 5px;
      }

   .contact-me nav ul li a {
      font-size: 20px;
   }

}
/* END of MEDIA QUERIES styles */
/**~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~**/